<table class="table-menu">
  <tr>
    <td [routerLinkActive]="'selected'" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/blogs">List</a>
    </td>
  </tr>
  <tr>
    <td [routerLinkActive]="'selected'"><a routerLink="/create">New</a></td>
  </tr>
  <tr>
    <td [routerLinkActive]="'selected'"><a routerLink="/search">Search</a></td>
  </tr>
  <tr>
    <td [routerLinkActive]="'selected'" [routerLinkActiveOptions]="{ exact: true }">
      <a (click)="toEdit()" [routerLink]="['/blogs', blogId]">Edit</a>
    </td>
  </tr>
</table>
