*, *::before, *::after {
  box-sizing: border-box;
}
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  app-header {
    height: 10%;
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 20px;
  }
  
  app-footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-content {
    display: flex;
    flex-grow: 1; 
    width: 100%;
  }
  
  app-menu {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .content-area {
    width: 70%;
    padding: 20px;
  }
  
  app-page {
    width: 100%;
  }
  