<div *ngIf="usercard" class="details">
    <h3>You selected {{usercard.userName}}'s Card Details:</h3>
    <table style="width: 100%;">   
      <tbody> 
        <tr>
          <td>Name:</td>
          <td><input [(ngModel)]="usercard.userName" placeholder="name"></td> 
        </tr>
        <tr>
          <td>Number:</td>
          <td><input [(ngModel)]="usercard.number" placeholder="number"></td>   
        </tr>
      </tbody>
    </table>  
    <button (click)="goBack()">Go Back</button>
  </div>