<h1>User Card's details: </h1>

<!-- <div><span>id: </span>{{usercard.id}}</div>
<div><span>Name: </span>{{usercard.userName | uppercase}}</div>
<div><span>Number: </span>{{usercard.number}}</div>


<h2>Edit your infomation: </h2>

<div style="margin: 10px; text-align: left;">
    <label>User Name (data-binding one-way):
        <input [ngModel]="usercard.userName" placeholder="Enter your name">
    </label>
</div>

<div style="margin: 10px; text-align: left;">
    <label>Card Number (data-binding two-way):
        <input [(ngModel)]="usercard.number" placeholder="Enter your number">
    </label>
</div> -->



<h2>User Card List</h2>
<div class="parent">
    <ol class="usercards">
        <li class="usercardList" 
            *ngFor="let eachUserCard of usercards">
            <a href="/detail/{{eachUserCard.id}}" style="text-decoration: none;">
                {{eachUserCard.userName}} - {{eachUserCard.number}}
            </a>
        </li>
    </ol>
    <!-- <app-user-card-detail [usercard]="selectedUserCard"></app-user-card-detail> -->
</div>